{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Admin| Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static "css/dashboard.css" %} rel="stylesheet">
    <style>
        .homeInfo {
            margin: 15px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Team 10| Admin</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/hosptial/home/">
                                <span data-feather="home"></span> Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/hosptial/appointments/">
                                <span data-feather="calendar"></span>Appointments
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="/hosptial/doctors/">
                                <span data-feather="activity"></span>Doctors 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/hosptial/patients/">
                                <span data-feather="user"></span>Patients 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/hosptial/bills">
                                <span data-feather="mail"></span> Bills
                            </a>
                        </li>

			<li class="nav-item">
                            <a class="nav-link" href="/hosptial/rooms">
                                <span data-feather="package"></span>Rooms  
                            </a>
                        </li>
			<li class="nav-item">
                            <a class="nav-link" href="/hosptial/departments">
                                <span data-feather="users"></span>Departments
                            </a>
                        </li>
			
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Welcome, Admin</h1>
                </div>

                <div class="row">

                    <div class="card col-lg-3 homeInfo">
                        <h5 class="card-header">Number of Appt Today</h5>
                        <div class="card-body">
                            <h2 class="card-title">123</h2>
                            <p class="card-text">Scheduled for today</p>
                            <a href="/hosptial/appointments/" class="btn btn-block btn-primary">More</a>
                        </div>
                    </div>

                    <div class="col-lg-3 card homeInfo">
                        <h5 class="card-header">Number of Available Docs</h5>
                        <div class="card-body">
                            <h2 class="card-title">200</h2>
                            <p class="card-text">Doctors providing care today</p>
                            <a href="/hosptial/doctors/" class="btn btn-block btn-primary">More</a>
                        </div>
                    </div>

                    <div class="col-lg-3 card homeInfo">
                        <h5 class="card-header">Number of Available rooms</h5>
                        <div class="card-body">
                            <h2 class="card-title">50</h2>
                            <p class="card-text">Open rooms today</p>
                            <a href="/hosptial/rooms/" class="btn btn-block btn-primary">More</a>
                        </div>
                    </div>
                </div>
                </br>
                </br>
                <h2> Search for patient </h2>
		<hr>
		<div class="card col-lg-12">
			
          <h6 class="card-header">Search by first name, and last name. .</h6>
	  <div class="card-body">
<form action="/hosptial/search/" method="post">
 {% csrf_token %}
  <div class="form-row">
    <div class="col">
      <input type="text" name="firstName" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" name="lastName" class="form-control" placeholder="Last name">
    </div>
    
  </div>
  </br>
  <div class="col-lg-4 float-right">
    <button type="submit" class="btn btn-block btn-success">Search</button>
  </div>
</form>
	  </div>
		</div>

            </main>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script>
            window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
        </script>

        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>

</body>

</html>
