{% load static %}
<!doctype html>
<html lang="en">
	<title> Team 10| Signin</title>
	<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<style>

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fffcfc;
}
    .passwordHelp {
	color: red
	}
</style>
	</head>
<body>
<div class="container">
		</br>
		</br>

<div class="row">
	<div>
	<h3> Team 10: Hospital Signin </h3>	
	<small> Software so good, you won't believe it's for a hospital!</small>
	</div>

</div>
<div class="row card">
<form class="form-horizontal" method="post", action="/auth/signin">
{% csrf_token %}
	</br>
  <div class="col-9">

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" required aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>


<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" required placeholder="Password">
    <small id="passwordHelp" class="passwordHelp form-text"></small>

  </div>

  <small class="passwordHelp"> {{ reg_error }} <small>
  </br>
  <button type="submit" class="btn btn-lg btn-primary"> Register</button>
</form>

		</div>
</div>
	</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


	<script>
$(document).ready(function()
	{

		var pass= document.getElementById("password");
		var pass_confirm = document.getElementById("confirm");

		function confirmPassword(){
			if(pass.value != pass_confirm.value){
				var message = document.getElementById("passwordHelp");
				var message_confirm = document.getElementById("passwordHelpConfirm");
				message.textContent = "Passwords don't match!";
				message_confirm.textContent = "Passwords don't match!";
			}

		}

		pass_confirm.addEventListener('blur', confirmPassword, false);

		

	});

	</script>
</html>


